extends layout
  
block head
  script.
    function addMore(counter) {     
      var count = document.getElementById('counter').value
      var newInput = document.createElement('input')
      var inputsName = 'ingredients' + count.toString()
      newInput.setAttribute('type', 'text')
      newInput.setAttribute('name', inputsName)
      document.getElementById('addMoreLinesUnder').appendChild(newInput)
      document.getElementById('counter').value++
    }

block content
  h1= title
  form(method='POST' action='')
    div.form-group 
      label(for='title') Title:
      input#title.form-control(type='text', placeholder='Recipe name', name='title', required='true', value=(undefined===recipe ? '': recipe.title))
    div.form-group
      label(for='ingredients0') Ingredient 1:
      input#ingredients0.form-control(type='text', placeholder='First Igredient', required='true', name='ingredients0')
      label(for='ingredients1') Ingredient 2:
      input#ingredients1.form-control(type='text', placeholder='Second Igredient', name='ingredients1')
      br
      label(for='ingredients3') Ingredient 3:
      input#ingredients3.form-control(type='text', placeholder='Third Igredient',, name='ingredients3')
      label(for='ingredients4') Ingredient 4:
      input#ingredients4.form-control(type='text', placeholder='Fourth Igredient', name='ingredients4')
      br
      label(for='ingredients5') Ingredient 5:
      input#ingredients5.form-control(type='text', placeholder='Fifth Igredient', name='ingredients5')
      label(for='ingredients6') Ingredient 6:
      input#ingredients6.form-control(type='text', placeholder='Sixth Igredient', name='ingredients6')
      br
      input#counter.form-control(type="hidden", value=7, name='counter')
      button.add.add-primary(type='button', onclick="addMore()") Add ingredient
      div.form-group(id='addMoreLinesUnder')
    div.form-group 
      label(for='directions') Directions:
      textarea#directions.form-control(type='textarea', placeholder='Directions', name='directions', rows='5', required='true') #{undefined===recipe ? '' : recipe.directions}
    div.form-group 
      label(for='comment') Comment:
      input#comment.form-control(type='text', placeholder='Comment not required', name='comment')

    button.btn.btn-primary(type='submit') Submit

    if errors
      ul
        for error in errors
          li!= error.msg
