extends layout

block content
  h1= title

  form(method='POST' action='')
    div.form-group 
      label(for='title') Title:
      input#title.form-control(type='text', placeholder='Recipe name', name='title', required='true', value=(undefined===recipe ? '': recipe.title))
    div.form-group 
      label(for='ingredients0') Ingredient 1:
      input#ingredients0.form-control(type='text', placeholder='First Igredient', required='true', name='ingredients0')
      label(for='ingredients1') Ingredient 2:
      input#ingredients1.form-control(type='text', placeholder='Second Igredient', required='true', name='ingredients1')
    div.form-group 
      label(for='directions') Directions:
      textarea#directions.form-control(type='textarea', placeholder='Directions', name='directions', rows='5', required='true') #{undefined===recipe ? '' : recipe.directions}
    div.form-group 
      label(for='comment') Comment:
      input#comment.form-control(type='text', placeholder='Comment not required', name='comment')

    button.btn.btn-primary(type='submit') Submit

    if errors
      ul
        for error in errors
          li!= error.msg
