extends layout

block content
  h1 Title: #{recipe.title}

  p #[strong Ingredients:] #{recipe.ingredients}
  br
  p #[strong Directions:] #{recipe.directions}
  br
  p #[strong Comment:] #{recipe.comment}